.availability {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem  1rem 1rem 70px;
  list-style: none;
  text-transform: uppercase;
  min-height: rem(141);

  @media (min-width: $tablet-width) {
    align-items: center;
    padding: 63px 1rem 1rem;
    min-height: rem(332);
  }
}

.availability__heading {
  position: relative;
  margin-top: 23px;
  margin-bottom: 23px;
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
    max-width: rem(200);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.availability__heading::before {
  position: absolute;
  top: 0;
  left: rem(-49);
  content: "";
  display: block;
  padding: rem(20);
  background-image: url("../img/icons/house.svg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    position: static;
    display: inline-flex;
    padding: rem(38);
    margin-bottom: rem(20);
  }
}

.availability__heading--burger::before {
  background-image: url("../img/icons/burger.svg");
}

.availability__heading--present::before {
  background-image: url("../img/icons/present.svg");
}

.availability__desc {
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
    max-width: rem(280);
  }
}
