.availability {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem  1rem 1rem 70px;
  list-style: none;
  text-transform: uppercase;
  min-height: 141px;

  @media (min-width: $tablet-width) {
    align-items: center;
    padding: 63px 1rem 1rem;
    min-height: 332px;
  }
}

.availability__heading {
  position: relative;
  margin-top: 23px;
  margin-bottom: 23px;
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.availability__heading::before {
  position: absolute;
  top: 0;
  left: -49px;
  content: "";
  display: block;
  padding: 20px;
  background-image: url("../img/icons/house.svg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    position: static;
    display: inline-flex;
    padding: 38px;
    margin-bottom: 20px;
  }
}

.availability__heading--burger::before {
  background-image: url("../img/icons/burger.svg");
}

.availability__heading--present::before {
  background-image: url("../img/icons/present.svg");
}

.availability__desc {
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
    max-width: 280px;
  }
}
