.availability {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: rem(14) rem(14) rem(14) rem(70);
  list-style: none;
  text-transform: uppercase;
  min-height: rem(140);

  @media (min-width: $tablet-width) {
    align-items: center;
    padding: rem(14);
    min-height: rem(330);
  }
}

.availability--crooked-handed {
  min-height: rem(100);
}

.availability--first {
  padding-top: rem(4);
  padding-bottom: rem(4);

  @media (min-width: $tablet-width) {
    padding: rem(14);
  }
}

.availability--last {
  padding-top: rem(4);
  padding-bottom: rem(4);
  min-height: rem(150);

  @media (min-width: $tablet-width) {
    padding: rem(14);
  }
}

.availability__heading {
  position: relative;
  margin-top: rem(23);
  margin-bottom: rem(12);
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-top: rem(46);
    margin-bottom: rem(16);
    max-width: rem(200);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.availability__heading::before {
  position: absolute;
  top: rem(-5);
  left: rem(-52);
  content: "";
  display: block;
  padding: rem(20);
  background-image: url("../img/icons/house.svg");
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    position: static;
    display: inline-flex;
    padding: rem(36);
    margin-bottom: rem(20);
  }
}

.availability__heading--burger::before {
  background-image: url("../img/icons/burger.svg");
}

.availability__heading--present::before {
  background-image: url("../img/icons/present.svg");
  padding: rem(19);
  @media (min-width: $tablet-width) {
    padding: rem(34);
  }
}

.availability__heading--last {
  margin-top: rem(6);

  @media (min-width: $tablet-width) {
    margin-top: rem(49);
        margin-bottom: rem(18);
  }
}

.availability__heading--crooked-handed {
  margin-top: rem(10);

  @media (min-width: $tablet-width) {
    margin-top: rem(46);

  }
}

.availability__desc {
  text-align: left;
  line-height: 1.59;

  @include block-width($mobile-width, 280px);

  @media (min-width: $tablet-width) {
    text-align: center;

    @include block-width(256px, 219px);
  }
}

.availability__desc--first {
  @media (min-width: $tablet-width) {
    @include block-width(256px, 214px);
  }
}

.availability__desc--crooked-handed {
  @include block-width($mobile-width, 315px);

  @media (min-width: $tablet-width) {
    @include block-width(256px, 165px);
  }
}

.availability:nth-of-type(2) .availability__desc {
  @media (min-width: $desktop-width) {
    @include block-width(calc($desktop-width / 3), 320px);
  }
}

.availability:nth-of-type(3) .availability__desc {
  @media (min-width: $desktop-width) {
    @include block-width(calc($desktop-width / 3), 300px);
  }
}

.availability__desc--break {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
