.benefits-list {
  @include reset-list-style;
  width: 100%;
}

.benefits-list__item {
  @include reset-list-style;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.benefits-list__item-tile {
  width: 100%;
  min-height: rem(190);

  @media (min-width: $tablet-width) {
    flex-basis: rem(256);
    flex-shrink: 0;
    flex-grow: 1;
    max-width: rem(400);
  }
}

.benefits-list__illustration {
  width: 100%;
}

.benefits-list__item--slightly {
  background-color: $neutral-die-color;
}

.benefits-list__pic-wrapper {
  @media (min-width: $tablet-width) {
    height: auto;
    flex-basis: rem(512);
    flex-shrink: 1;
    flex-grow: 2;
  }
}

.benefits-list__pic-wrapper--left {
  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.benefits-list__pic {
  display: block;
  object-fit: cover;
  width: 100%;
  height: rem(260);

  @media (min-width: $tablet-width) {
    height: 100%;
  }
}
