.benefits-list {
  width: 100%;
  @include reset-list-style;
}

.benefits-list__item {
  @include reset-list-style;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    overflow: hidden;
  }
}

.benefits-list__item-tile {
  width: 100%;
  min-height: 190px;

  @media (min-width: $tablet-width) {
    flex-basis: 256px;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 400px;
  }
}

.benefits-list__illustration {
  width: 100%;
}



.benefits-list__item--slightly {
  background-color: $neutral-die-color;
}

.benefits-list__pic {
  display: block;
  object-fit: cover;
  width: 100%;
  min-height: 260px;

  @media (min-width: $tablet-width) {
    max-height: 256px;
    flex-basis: 500px;
    flex-shrink: 1;
    flex-grow: 2;
  }
}

.benefits-list__pic--left {
  @media (min-width: $tablet-width) {
    order: -1;
  }
}
