.benefits-list {
  @include reset-list-style;
}

.benefits-list__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: stretch;
  }
}

.benefits-list__item-tile {
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-basis: calc(100% / 3);
    flex-shrink: 1;
  }
}

.benefits-list__illustration {
  width: 100%;

  @media (min-width: $tablet-width) {
  }
}

.benefits-list__pic--left {
  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.benefits-list__item--slightly {
  background-color: $neutral-die-color;
}

.benefits-list__pic {
  display: block;
  object-fit: cover;
  width: 100%;
}
