.card {
    display: flex;
    flex-direction: column;
    padding: 1.7rem 1.42rem;

    @media (min-width: $tablet-width) {
        padding: 0;
    }
}

.card__pic {
    min-height: 280px;
    object-fit: cover;

    @media (min-width: $tablet-width) {
        min-height: 267px;
    }
}
