.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: rem(24) rem(20);


  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.card:nth-of-type(2n+1):not(.card:first-of-type) .card__info-wrapper {
  @media (min-width: $tablet-width) and (max-width: $not-bigger-of-tablet) {
    background-color: $middle-grey;
  }
}

.card::after,
.card:first-of-type::before {
  @media (max-width: $mobile-only) {
    position: absolute;
    display: inline-block;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    background-color: $btn-dsbled-bg;
  }
}

.card:first-of-type::before {
  top: 0;
}

.card::after {
  bottom: 0;
}


.card__pic {
  display: block;
  min-width: rem(200);
  object-fit: contain;
  width: 100%;

  @media (min-width: $tablet-width) {
    object-fit: cover;
    max-height: rem(400);
  }
}

.card__pic--promo {
  @media (min-width: $tablet-width) {
    min-height: rem(400);
  }
}

.card__pic-link:hover .card__pic {
  opacity: 0.85;
}

.card__info-wrapper {
  @media (min-width: $tablet-width) {
    padding: rem(14) rem(20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $input-color;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(#000000, 0.3);
    color: #ffffff;
  }
}

.card__text-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-right: 1rem;
  }
}

.card__heading {
  margin-top: rem(15);
  margin-bottom: ren(12);

  @media (min-width: $tablet-width) {
    margin-top: rem(1);
  }
}

.card__info {
  margin-bottom: rem(16);

  @media (min-width: $tablet-width) {
    margin-bottom: rem(2);
  }
}

.card__like-wrapper {
  display: flex;
  flex-wrap: nowrap;

  @media (min-width: $tablet-width) {
    padding-left: rem(14);
  }
}

.card__like-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: rem(21);
  color: rgba(#000000, 0.3);
  cursor: pointer;
  margin-right: rem(12);

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.card__like-btn::before {
  display: inline-flex;
  font-family: "sedona_icons", "Arial", sans-serif;
  content: "\e904";
}

.card__like-count {
  padding: 0;
}
