.choice {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.86rem 1rem;

  @include wrapper($desktop-width);

  @media (min-width: $tablet-width) {
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;
  }
}

.choice__btn {
  margin: 0 auto;
  max-width: 458px;
}

.choice__heading--text {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;

  @include block-width($mobile-width, 260px);
  max-width: 435px;
  padding: 1rem;

  @media (min-width: $tablet-width) {
    font-size: 2.14rem;
  }
}

.choice__desc {
  text-align: center;
  max-width: 435px;
  padding: 1rem;
}
