.contact-us__map {
  display: block;
  background-image: url("../../img/background/mobile/map.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: rem(350);
  border: none;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background/mobile/map@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/background/tablet/map.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background/tablet/map@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/background/desktop/map.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background/desktop/map@2x.jpg");
    }
  }
}
