.dignity {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $die-color;
  text-transform: uppercase;
  min-height: 191px;
padding:1rem;

  @media (min-width: $tablet-width) {
min-height: 256px;
}
}
.dignity--slightly {
  background-color: $neutral-die-color;
}


.dignity__heading {
  text-align: center;
  margin-bottom: 20px;

  @include block-width($mobile-width, 260px);

  @media (min-width: $tablet-width) {
    max-width: 150px;
  }

}

.dignity__number {
margin-bottom: 20px;
}

.dignity__description {
  text-align: center;

  @include block-width($mobile-width, 260px);

  @media (min-width: $tablet-width) {
  //  @include block-width($tablet-width/3, 190px);
  }

}

.dignity__description--undeline::after {
  position: absolute;
  bottom: 0;
  left: 18px;
  right: 18px;
  display: inline-block;
  content: "";
  height: 1px;
  background-color: $undelines-clr;

  @media (min-width: $tablet-width){
display: none;
  }
}
