.fields {
  @include margin-resset;
  @include padding-resset;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 0 rem(20) rem(14);

  border-bottom: 1px solid $btn-dsbled-bg;

  @media (min-width: $tablet-width) {

    border-bottom: none;
    border-top: 1px solid $btn-dsbled-bg;
  }
}

.fields--tile {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: repeat(autofill, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 0 rem(36);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    padding: 0 rem(44);
  }
}

.fields--tile-skiny {
  @media (min-width: $tablet-width) {
    padding: 0 rem(84);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0 rem(44);
  }
}


.fields__wrapper {
  padding: 0 rem(20);

  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.fields--last {
  border-bottom: none;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 rem(96);
  }
}

.fields--left {
  border: none;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: rem(42);
  }
}

.fields--right {
  border: none;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-left: rem(42);
  }
}

.fields--bordered {
  border-right: 1px solid $fadded-color;
}

.fields__name {
  margin: 0 auto;
  text-align: center;
  max-width: rem(340);

  @include heading-style(rem(18));
  padding: rem(24) rem(7) rem(20);

  @media (min-width: $tablet-width) {
    padding: rem(24) rem(40) rem(20);
  }
}

.fields__name--start {
  padding-left: rem(7);
  padding-right: rem(7);
}

.fields__name--dashed {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fields__name--dashed::before,
.fields__name--dashed::after {
  @media (min-width: $tablet-width) {
    display: inline-block;
    content: "";
    flex-basis: rem(123);
    height: rem(1);
    background-color: $fadded-color;
    vertical-align: middle;
    flex-grow: 1;
  }
}

.fields__name--dashed::before {
  @media (min-width: $tablet-width) {
    margin-right: rem(63);
  }
}

.fields__name--dashed::after {
  @media (min-width: $tablet-width) {
    margin-left: rem(63);
  }
}

.fields__item {
  margin-bottom: rem(16);
  flex-grow: 1;
}

.fields__item--start {
  flex-grow: 0;
}

.fields__msg {
  @include margin-resset;
  @include padding-resset;

  background-color: $input-color;
  border: none;
  max-height: rem(150);
  margin-bottom: rem(48);
  padding: rem(16);
  font-size: rem(18);
  font-weight: bold;
  resize: none;
  box-sizing: border-box;
  color: $disabled-clr;
  width: 100%;

  @media (min-width: $tablet-width) {
    max-height: rem(160);
  }
}

.fields__sumbit-btn {
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: rem(324);
  }
}

.fields__submit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.fields__comment {
  font-size: rem(12);
  text-transform: uppercase;
  margin-top: rem(7);
  color: $disabled-clr;
}
