.form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
      "introduce contact"
      "impressions impressions"
      "attractions attractions"
      "emotions emotions";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
  }
  border-top: 1px solid $fadded-color;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0 rem(60);
  }

  @media (min-width: $desktop-width) {
    padding: 0 rem(120);
  }
}

.form__introduce {
  grid-area: introduce;
}

.form__contact {
  grid-area: contact;
}


.form__impressions {
  grid-area: impressions;

  @media (min-width: $tablet-width) {
    margin-top: rem(25);
    margin-bottom: rem(25);
  }
}

.form__attractions {
  grid-area: attractions;

  @media (min-width: $tablet-width) {
    margin-bottom: rem(25);
  }
}

.form__emotions {
  grid-area: emotions;
  margin-bottom: rem(24);

  @media (min-width: $tablet-width) {
    margin-bottom: rem(64);
  }
}
