.gallery__list {
  @include reset-list-style;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-left: 4.28rem;
    padding-right: 4.28rem;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.gallery__list-item {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: calc(100% / 3);
  }
}

.gallery__list-item--promo {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
