.info__slogan {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: rem(462);
  fill: currentColor;
}

.info__text-content {
  max-width: rem(470);
  margin: 0 auto;
}

.info__text-content--main {
  max-width: rem(530);
}

.info__slogan-bg {
  position: relative;
  text-align: center;
  color: #ffffff;
  padding: 6.43rem 1.36rem;
  background-image: url("../img/info-bg-decor.png"), url("../img/background/mobile_bg.jpg");
  background-size: $desktop-width, cover;
  background-position: center bottom, center bottom;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/info-bg-decor.png"), url("../img/background/mobile_bg@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding-top: 5.5rem;
    background-image: url("../img/info-bg-decor.png"), url("../img/background/tablet_bg.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/info-bg-decor.png"), url("../img/background/tablet_bg@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/info-bg-decor.png"), url("../img/background/desktop_bg.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/info-bg-decor.png"), url("../img/background/desktop_bg@2x.jpg");
    }
  }
}
