.info-block {
  background-color: $main-bg-color;
  text-transform: uppercase;
  padding-top: 1.57rem;
  padding-bottom: 2.57rem;

  @media (min-width: $tablet-width) {
    padding-top: 2.57rem;
    padding-bottom: 3.29rem;
  }
}

.info-block__text {
  @include block-width($mobile-width, 270px);
  text-align: center;
  max-width: 520px;
  padding: 1rem;
  margin: 0 auto;
}

.info-block__btn {
  border: none;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 458px;
  }
}

.info-block__btn-wrapper {
  background-color: $neutral-die-color;
}
