.main-footer {
  display: flex;
  align-content: center;
  background-color: $main-bg-color;
  text-transform: uppercase;
  padding-top: 2.57rem;
  padding-bottom: 2.57rem;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-footer__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


  @media (min-width: $tablet-width) {
    flex-direction: row;

    @include footer-tab-padding;
  }

  @media (min-width: $desktop-width) {
    @include footer-desk-padding;
  }
}

.main-footer__hash {
  text-align: center;
  font-size: 21px;
  line-height: 1em;
  font-weight: bold;
  margin-bottom: 2.85rem;


  @include adapt-width($mobile-width, 284px);

  @media (min-width: $tablet-width) {
    @include part-of-block(3);
    @include margin-resset;
  }
}

.main-footer__social {
  margin-bottom: 2.85rem;

  @include adapt-width($mobile-width, 284px);

  @media (min-width: $tablet-width) {
    @include part-of-block(3);
    @include margin-resset;
  }
}

.main-footer__devs {
  text-decoration: none;
  color: $page-font-color;
  text-align: center;
  line-height: 1em;

  @include adapt-width($mobile-width, 284px);

  @media (min-width: $tablet-width) {
    @include part-of-block(3);
  }
}

.main-footer__devs::after {
  font-size: 34px;
  display: inline-block;
  vertical-align: middle;
  font-family: "sedona_icons", "Arial", sans-serif;
  content: "\e900";
  margin-left: 13px;
}

.main-footer__devs:hover {
  color: $academy-hover;
  cursor: pointer;
}

.main-footer__devs:active {
  color: $academy-active;
}
