.main-header {
  background-color: $invert-color;

  @media (min-width: $tablet-width) {
    @include padding-resset;
  }
}

.main-header__wrapper {
  width: 100%;
  height: 100%;

  @media (min-width: $tablet-width) {
    @include padding-resset;
  }
}
