.main-footer {
  background-color: $main-bg-color;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 36px;
  height: 243px;
  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-left: 4.29rem;
    padding-right: 4.29rem;
    height: 120px;
  }
}
