.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav__togle-menu {
  z-index: 2;
  position: absolute;
  right: 20px;
  top: calc(9px + 17px);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__logo {
  z-index: 2;
  position: absolute;
  left: auto;
  right: auto;
}
