.main-footer {
  display: flex;
  align-content: center;
  background-color: $main-bg-color;
  text-transform: uppercase;
  padding-top: rem(44);
  padding-bottom: rem(36);

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-bottom: rem(36);
    padding-top: rem(36);
  }
}

.main-footer__wrapper {
  @include wrapper;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 0 rem(60);
  }

  @media (min-width: $desktop-width) {
    padding: 0 rem(120);
  }
}

.main-footer__hash {
  text-align: center;
  font-size: rem(21);
  line-height: rem(14);
  font-weight: bold;
  margin-bottom: rem(40);


  @include adapt-width($mobile-width, 284px);

  @media (min-width: $tablet-width) {
    @include part-of-block(3);
    @include margin-resset;
    text-align: left;
  }
}

.main-footer__social {
  margin-bottom: rem(32);

  @include adapt-width($mobile-width, 284px);

  @media (min-width: $tablet-width) {
    @include part-of-block(3);
    @include margin-resset;
  }
}

.main-footer__devs {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $page-font-color;
  text-align: center;
  line-height: rem(14);

  @include adapt-width($mobile-width, 284px);

  @media (min-width: $tablet-width) {
    @include part-of-block(3);
    justify-content: flex-end;
  }
}

.main-footer__devs:hover {
  color: $academy-hover;
  cursor: pointer;
}

.main-footer__devs:active {
  color: $academy-active;
}


.main-footer__devs-icon {
  fill: currentColor;
  margin-left: rem(13);
}
