.menu {
  @include reset-list-style;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  font-weight: bold;
  z-index: 2;

  @media (min-width: $tablet-width) {
    height: 100%;
    z-index: 0;
    flex-direction: row;
    background-color: $invert-color;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: stretch;
  }
}

.menu :nth-of-type(2),
.menu :nth-of-type(4n+2) {
  @media (min-width: $tablet-width) {
    margin-right: 20%;
  }
}

.menu--scriptable {
  position: absolute;
  top: 0;
  left: 0;

  text-transform: uppercase;
  transition-duration: 0.4s;
  transition-property: top;

  @media (min-width: $tablet-width) {
    position: static;
  }
}

.menu--hide {
  top: rem(-2000);
}

.menu__item {
  width: 100%;
  background-color: $die-color;
  text-align: center;
  box-shadow: 0 0 2px $shadow-color;

  @media (min-width: $tablet-width) {
    background: none;
    box-shadow: none;
    width: 20%;
  }
}

.menu__item:hover {
  @media (max-width: $mobile-only) {
    background: $mob-men-hover;
  }
}

.menu__item:active {
  @media (max-width: $mobile-only) {
    background: $mob-men-active;
  }
}

.menu__item:last-of-type {
  position: relative;
}

.menu__item:last-of-type::after {
  @media (max-width: $mobile-only) {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: rem(7);
    box-shadow: inset 0 -3px 5px rgba(#000000, 0.2);
  }
}

.menu__item-link {
  display: inline-block;
  width: 100%;
  padding: rem(15);
  text-align: center;
  vertical-align: middle;
  color: $invert-color;
  text-decoration: none;
  font-size: rem(18);

  @media (min-width: $tablet-width) {
    color: $page-font-color;
    font-size: rem(14);
    padding: rem(14) rem(5);
  }
}

.menu__item-link:hover {
  @media (min-width: $tablet-width) {
    color: $menu-hover;
  }
}

.menu__item-link:active {
  color: rgba($mob-m-font, 0.3);

  @media (min-width: $tablet-width) {
    color: $btn-dsbled-bg;
  }
}

.menu__item-link--current {
  @media (min-width: $tablet-width) {
    color: $current-link-clr;
  }
}
