.menu {
  text-transform: uppercase;
  padding: 0;
}

.menu__item {
  list-style: none;
}

.menu__item-link {
  color: $page-font-color;
  text-decoration: none;
}

.menu__item-link--current {
  color: --current-link-clr;
}
