.overview {
  width: 100%;
  padding: 0 rem(20);

  @media (min-width: $tablet-width) {
    padding: rem(60) rem(40);
  }

  @media (min-width: $desktop-width) {
    padding: 0 rem(200) rem(86);
  }
}

.overview__text {
  margin: 0 auto;
  max-width: rem(475);
}

.overview__video {
  margin: 0 auto;
  max-width: rem(800);
}
