.page {
  height: 100%;
  box-sizing: border-box;
}

.page__body {
  min-height: 100%;
  font-family: "ptsans", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background: $main-bg-color;
  color: $page-font-color;
}
