.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include reset-list-style;
}

.social__item {
  margin: 0 0.22rem 0.44rem;
}

.social__item:last-child {
  margin-right: 0.22rem;
  margin-bottom: 0;
}

.social__item-link {
  display: flex;
  background-color: $die-color;
  min-width: 48px;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

.social__item-link:hover{
  background-color: $btn-hover-bg;
}

.social__item-link:active{
color: rgba(#ffffff, 0.4);
}

.social__item-link::before{
  display: inline-flex;
  font-family: "sedona_icons";
  font-size: 15px;
}

.social__item-link--vk::before {
  content: "\e900";
}
.social__item-link--tg::before {
  content: "\e901";
}
.social__item-link--yt::before {
  content: "\e902";
}

