.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include reset-list-style;
}

.social__item {
  margin: 0 0.22rem 0.44rem;
}

.social__item:last-child {
  margin-right: 0.22rem;
  margin-bottom: 0;
}

.social__item-link {
  display: block;
  background-color: $die-color;
  padding: 1.71rem;
}
