.text-number {
  font-weight: bold;
}

.text-number::after,
.text-number::before {
  display: inline;
  content: "—";
}

.text-number::before {
  margin-right: rem(4);
}

.text-number::after {
  margin-left: rem(4);
}
