@mixin toggle-parametrs() {
  width: 23px;
  height: 4px;
  background-color: $die-color;
}

.togle-menu {
  width: 22px;
  height: 23px;
  border: none;
  background-color: transparent;
}

.togle-menu:hover {
  opacity: 0.6;
  cursor: pointer;
}

.togle-menu::before,
.togle-menu::after {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: "";

  @include toggle-parametrs;
}

.togle-menu::before {
  box-shadow: 0 9px 0 $die-color;
}

.togle-menu::after {
  top: 18px;

  @include toggle-parametrs;
}

.togle-menu--close::before {
  box-shadow: none;
  background-color: $main-bg-color;
  transform: translateY(9px) rotate(45deg);
}

.togle-menu--close::after {
  background-color: $main-bg-color;
  transform: translateY(-9px) rotate(-45deg);
}
