@mixin toggle-parametrs() {
  width: rem(23);
  height: rem(4);
  background-color: $die-color;
}

.togle-menu {
  width: rem(22);
  height: rem(23);
  border: none;
  background-color: transparent;
}

.togle-menu--hide {
  display: none;
}

.togle-menu:hover {
  opacity: 0.6;
  cursor: pointer;
}

.togle-menu:active {
  opacity: 0.3;
}

.togle-menu::before,
.togle-menu::after {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  content: "";
  transition: transform 0.2s linear 0s;

  @include toggle-parametrs;
}

.togle-menu::before {
  box-shadow: 0 9px 0 $die-color;
  transition: box-shadow 0.2s linear 50ms;
}

.togle-menu::after {
  top: rem(18);

  @include toggle-parametrs;
}

.togle-menu--close::before {
  box-shadow: 0 0 0 rgba($die-color, 0);
  background-color: $main-bg-color;
  transform: translateY(9px) rotate(45deg);
}

.togle-menu--close::after {
  background-color: $main-bg-color;
  transform: translateY(-9px) rotate(-45deg);
}
