@import "global-variables";

:root {
  box-sizing: border-box;
  font-size: 0.88em;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
}

@font-face {
  font-family: "ptsansB";
  src: local("ptsansB"), url("../fonts/ptsansb.woff") format("woff"), url("../fonts/ptsansb.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "ptsans";
  src: local("ptsans"), url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

// icon fonts
@font-face {
  font-family: "sedona_icons";
  src: url("../fonts/sedona_icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
// icon fonts

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  line-height: 1;
}

// text apparence
.normal-text {
  text-transform: initial;
}

.text-color-invert {
  color: $invert-color;
}

.heading-small {
  @include heading-style;
}

.heading-medium {
  @include heading-style(1.29rem);

  @media (min-width: $tablet-width) {
    font-size: 1.5rem;
  }
}

.heading-large {
  @include heading-style(18px);

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.heading-Xlarge {
  @include heading-style(1.5rem);

  @media (min-width: $tablet-width) {
    font-size: 2.14rem;
  }
}
