@import "global-variables";

:root {
  box-sizing: border-box;
  font-size: 0.88em;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
}

@font-face {
  font-family: "ptsansB";
  src: local("ptsansB"), url("../fonts/ptsansb.woff") format("woff"), url("../fonts/ptsansb.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "ptsans";
  src: local("ptsans"), url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  line-height: 1;
}

// text apparence
.normal-text {
  text-transform: initial;
}

.text-color-invert {
  color: $invert-color;
}

.text-small-heading {
  text-transform: uppercase;
  font-weight: bold;
}

// style for debug

@mixin outline($color: #f00) {
  outline: 3px solid $color;
}
