@mixin block-width($current-media, $mxWidth, $mnWidth: $mxWidth) {
  width: calc($mxWidth / $current-media * 100%);
  min-width: $mnWidth;
}

// @mixin block-height($mxHeight: 2) {
//   max-height: #{$mxHeight * 2}+em;
// }

@mixin adapt-width($current-media, $width-in-px) {
  width: calc($width-in-px / $current-media * 100%);
}

@mixin part-of-block($part) {
  width: calc(100% / $part);
}

@mixin wrapper() {
  width: 100%;
  max-width: $desktop-width;
  margin: 0 auto;
  // @include show-outline(2px, green);
}

@mixin gl-mob-padding() {
  padding: 0 1.28rem;
}

@mixin footer-tab-padding() {
  padding: 0 4.28rem;
}

@mixin footer-desk-padding() {
  padding: 0 8.57rem;
}

@mixin padding-resset() {
  padding: 0;
}

@mixin margin-resset() {
  margin: 0;
}

@mixin reset-list-style() {
  list-style: none;
  padding: 0;
}

@mixin show-outline($color: red, $weight: 2px) {
  outline: $weight dashed $color;
  outline-offset: -$weight;
}

@mixin heading-style($f-size: inherit) {
  text-transform: uppercase;
  font-size: $f-size;
  text-align: center;
  font-weight: bold;
  line-height: $heading-line-height;
}
