// devices
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

// colors
$page-clr: #f2f2f2;
$main-bg-color: #ffffff;
$die-color: #81b3d2; /*$die-color*/
$neutral-die-color: #eeeeee;  /*$neutral-die-color*/
$light-neutral-color: #f2f2f2;
$invert-color: $main-bg-color;
$page-font-color: #000000;
$current-link-clr: #766357;
$shadow-color: $page-font-color;
$fadded-color: #dbdbdb;
$input-color: #f2f2f2;
$field-pic-bg: #e6e6e6;
$disabled-clr: #333333;
$undelines-clr: #d6d6d6;
// button colors
$btn-hover-bg: #669ec0;
$btn-active-bg: #5496bd;
$btn-dsbled-bg: #e5e5e5;

// menu colors
$menu-hover: #81b3d2;

// blocks measures
$btn-height: 58px;

// font parametrs

$common-line-height: 1.5;
$heading-line-height: 1.86;
