@import "global-variables";

:root {
  font-size: 0.88em;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
}

@font-face {
  font-family: "ptsansB";
  src: local("ptsansB"), url("../fonts/ptsansb.woff") format("woff"), url("../fonts/ptsansb.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "ptsans";
  src: local("ptsans"), url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "ptsans", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.5;

  background: $main-bg-color;
  color: $page-font-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// text apparence
.normal-text {
  text-transform: initial;
}

.heading-text {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.86rem;
}

.text-color-invert {
  color: $invert-color;
}

.text-small-heading {
  text-transform: uppercase;
  font-weight: bold;
}
