// colors
  $die-color: #81b3d2;
  $neutral-die-color: #eeeeee;
  $light-neutral-color: #f2f2f2;
  $main-bg-color: #ffffff;
  $invert-color: $main-bg-color;
  $page-font-color: #000000;
  $current-link-clr: #766357;

  // blocks measures

  $btn-height: 58px;
